<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <title>Document Search with RDF KB</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" crossorigin='anonymous'>
        <link rel='stylesheet' href='/stylesheets/style.css'/>
        <!-- <link rel="stylesheet" href="https://cdn.datatables.net/t/bs-3.3.6/jqc-1.12.0,dt-1.10.11/datatables.min.css"/> -->
    </head>
    <body class='container'>
        <header>
            <h1>Document Search with RDF KB</h1>
        </header>
        <section class='search'>
            <form method='post' action='/search/result'>
                <div class="form-group">
                    <h5>Input Keywords</h5>
                    <input type='text' name='keyword' id='keyword' class='form-control' required>
                </div>
                <input type='submit' value='Search' class='btn btn-primary'>
            </form>
        </section>
    </body>
</html>